{% extends 'base_restaurant.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="card p-12">
                <div class="card-header">
                    <h3 class="card-title">Add Menu: </h3>
                </div>
                <form action="{% url "create_menu" %}" method="post">
                    <div class="card-body">
                        {% if saved is False %}
                            <div class="alert alert-danger">An error occurred while saving the menu.</div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="card-body">

                            <div class="form-group">
                                <label class="form-label" for="menu_version">Menu Version:</label>
                                <input type="text" id="menu_version" name="menu_version" class="form-control"
                                       value="{{ menu.menu_version }}"/>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="other_details">Other details:</label>
                                <input type="text" id="other_details" name="other_details" class="form-control"
                                       value="{{ menu.other_details }}"/>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="date_of_creation">Date Of Creation:</label>
                                <input type="text" id="date_of_creation" name="date_of_creation" class="form-control"
                                       value="{{ menu.date_of_creation }}"/>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="image_url">Image Url:</label>
                                <input type="url" id="image_url" name="image_url" class="form-control"
                                       value="{{ menu.image_url }}"/>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="card-link" href="{% url "home_menu" %}">Back</a>
                            &nbsp;
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}