
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} Food Delivery Service</title>
    <link rel=stylesheet type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/delivery.css" %}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">O'Gabs FoodDel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="{% url 'restaurant_homepage' %}" class="nav-link">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Menuitem</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="{% url 'create_menuitem' %}">add</a>
                        <a class="dropdown-item" href="{% url 'home_menuitem' %}">List</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Menu</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="{% url 'create_menu' %}">add</a>
                    </div>
                </li>
                <li class="nav-item"></li><a  href="{% url 'about' %}" class="nav-link">About Us</a></li>
                <li class="nav-item"></li><a  href="{% url 'logout' %}" class="nav-link">logout</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy; O'Gabs Delivery All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
<script>
    $('.carousel').carousel({
        interval: 5000
    })
</script>

</body>

</html>




