{% extends 'base_restaurant.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="card p-12">
                <div class="card-header">
                    <h3 class="card-title"> Add MenuItem: </h3>
                </div>
                <form action="{% url "create_menuitem" %}" method="post">
                    <div class="card-body">
                        {% if saved is False %}
                            <div class="alert alert-danger">An error occurred while saving the menuitem.</div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="card-body">

                            <div class="form-group">
                                <label class="form-label" for="menu_id">Menu ID:</label>
                                <select type="text" id="menu_id" name="menu_id" class="form-control">
                                    {% for m in menu %}
                                        <option label="{{ m.text }}" value="{{ m.id }}">{{ m.text }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="item_name">Item Name:</label>
                                <input type="text" id="item_name" name="item_name" class="form-control"
                                       value="{{ menuitem.item_name }}"/>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="item_description">Item Description:</label>
                                <input type="text" id="item_description" name="item_description" class="form-control"
                                       value="{{ menuitem.item_description }}"/>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="item_price">Item Price:</label>
                                <input type="text" id="item_price" name="item_price" class="form-control"
                                       value="{{ menuitem.item_price }}"/>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="other_details">Other Details:</label>
                                <input type="text" id="other_details" name="other_details" class="form-control"
                                       value="{{ menuitem.other_details }}"/>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="image_url">Image Url:</label>
                                <input type="url" id="image_url" name="image_url" class="form-control"
                                       value="{{ menuitem.image_url }}"/>
                            </div>

                        </div>
                        <div class="card-footer">
                            <a class="card-link" href="{% url "home_menuitem" %}">Back</a>
                            &nbsp;
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}