{% extends 'base_restaurant.html' %}

{% load static %}

{% block content %}

    {% if menuitem %}
        <div class="row">
            <a href="{% url "create_menuitem" %}" class="page-link">Create new menuitem</a>
        </div>
        <table class="table table-bordered mt-4">
            <thead>
            <tr>
                <th>Menu ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Other Details</th>

                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for e in menuitem %}
                <tr>
                    <td>{{ e.menu_version }}</td>
                    <td>{{ e.item_name }}</td>
                    <td>{{ e.item_description }}</td>
                    <td>{{ e.item_price }}</td>
                    <td>{{ e.other_details }}</td>

                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-info "
                               href="{% url "view_menuitem" menuitem_id=e.id %}">View</a>
                            &nbsp;
                            <a class="btn btn-sm btn-outline-primary"
                               href="{% url "edit_menuitem" menuitem_id=e.id %}">Edit</a>
                            &nbsp;
                            {% csrf_token %}
                            <a class="btn btn-sm btn-outline-danger"
                               href="{% url 'delete_menuitem' menuitem_id=e.id %}">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">No existing menu item are available.</div>
    {% endif %}
{% endblock %}