{% extends 'base_restaurant.html' %}

{% load static %}

{% block content %}

    {% if restaurant %}
        <div class="row">
            <a href="{% url "create_restaurant" %}" class="page-link mt-5">Create new restaurant</a>
        </div>
        <table class="table table-bordered mt-5">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Food Description</th>

                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for r in restaurant %}
                <tr>
                    <td>{{ r.name }}</td>
                    <td>{{ r.email }}</td>
                    <td>{{ r.restaurant_address }}</td>
                    <td>{{ r.restaurant_contact }}</td>
                    <td>{{ r.food_description }}</td>

                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-info "
                               href="{% url "home_restaurant" restaurant_id=r.id %}">View</a>
                            &nbsp;
                            <a class="btn btn-sm btn-outline-primary"
                               href="{% url "edit_restaurant" restaurant_id=r.id %}">Edit</a>
                            &nbsp;
                            {% csrf_token %}
                            <a class="btn btn-sm btn-outline-danger"
                               href="{% url 'delete_restaurant' restaurant_id=r.id %}">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">No existing restaurant are available.</div>
    {% endif %}
{% endblock %}