{% extends 'base.html' %}

{% block content %}
    {% if meal %}
        <div class="row">
            <a href="{% url "create" %}" class="page-link">Create new flight</a>
        </div>
        <table class="table table-bordered mt-4">
            <thead>
            <tr>
                <th>MenuItem ID</th>
                <th>Customer ID</th>
                <th>Status</th>
                <th>Address</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Order Date</th>
                <th>Order Time</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for meal in meals %}
                <tr>
                    <td>{{ meal.menuitem_id }}</td>
                    <td>{{ meal.customer.user.first_name }}</td>
                    <td>{{ meal.status}}</td>
                    <td>{{ meal.address }}</td>
                    <td>{{ meal.quantity }}</td>
                    <td>{{ meal.rate }}</td>
                    <td>{{ meal.order_date }}</td>
                    <td>{{ meal.order_time }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-info " href="{% url "view_meal" meal_id=meal.id %}">View</a>
                            &nbsp;
                            <a class="btn btn-sm btn-outline-primary" href="{% url "edit_meal" meal_id=meal.id %}">Edit</a>
                            &nbsp;
                            {% csrf_token %}
                            <a class="btn btn-sm btn-outline-danger" href="{% url 'delete_meal' flight_id=flight.id %}">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger"> Ordered meal are available.</div>
    {% endif %}
{% endblock %}